<div class='lista-direita col m2 offset-m7'>

  <table class="table table-hover">

    <thead class='head dark'>
      <tr>
        <th>Cor</th>
        <th>Chassi</th>
        <th>Montadora</th>
        <th>Modelo</th>
        <th>Placa</th>
      </tr>
    </thead>

    <tbody>
    <% veiculos.each do |veiculo| %>
    
      <tr class="<%= "active" if veiculo.id.to_s == params[:id] %>" 
          onclick="window.location.href='<%= edit_veiculo_path(veiculo) %>';">           
        <td nowrap><%= veiculo.cor %></td>
        <td nowrap><%= veiculo.chassi %></td>      
        <td nowrap><%= veiculo.montadora %></td>
        <td nowrap><%= veiculo.modelo %></td>
        <td nowrap><%= veiculo.placa %></td>
      </tr>
    
    <% end %>
    </tbody>
    
  </table>

</div>