<div class='lista-direita'>

  <table class="table table-striped table-hover">

    <thead class='head dark'>
      <tr>
        <th onclick="order('cor');">Cor</th>
        <th onclick="order('chassi');">Chassi</th>
        <th onclick="order('montadora');">Montadora</th>
        <th onclick="order('modelo');">Modelo</th>
        <th onclick="order('placa');">Placa</th>
      </tr>
    </thead>

    <tbody>
    <% veiculos.each do |veiculo| %>
    
      <tr class="<%= "active" if veiculo.id.to_s == params[:id] %>" onclick="window.location.href='<%= edit_veiculo_path(veiculo) %>';">           
        <td><%= veiculo.cor %></td>
        <td><%= veiculo.chassi %></td>      
        <td><%= veiculo.montadora %></td>
        <td><%= veiculo.modelo %></td>
        <td nowrap><%= veiculo.placa %></td>
      </tr>
    
    <% end %>
    </tbody>
    
  </table>

</div>