
<span class="top">
  <h1> Veículos </h1>
  <%= link_to 'Criar', veiculos_path, { onclick: "create('#{veiculos_path}');", class: 'btn btn-success' } %>
  <%= link_to "Atualizar", veiculo_path(@veiculo), { onclick: 'update();', class: 'btn btn-primary' }%>
  <%= link_to 'Excluir', veiculo_path(@veiculo), 
      method: :delete,       
      class: 'btn btn-danger', 
      data: { confirm: 'Você deseja realmente excluir?' } %>
</span>

<%= render partial: 'veiculos', object: @veiculos, class: 'lista-direita' %>


<div class='center'>

  <hr>

  <center>
  <%= form_for @veiculo, url: veiculo_path(@veiculo) , method: :patch, html: { id: 'form' } do |f| %>

    <table>
    
      <tr>
        
        <td><%= f.label :cliente %></td>
        <td><%= f.collection_select :cliente_id, Cliente.all, :id, :nome_completo, {}, class: 'form-control'  %></td>       
        
        <%= f.fields_for :cliente do |c| %>        
        
          <% if @veiculo.cliente.juridica == true %>
            <td><%= c.label :cnpj, 'CNPJ' %></td>
            <td><%= c.text_field :cnpj, value: @veiculo.cliente.cnpj, class: 'form-control', disabled: true  %></td>       
          <% else %>
            <td><%= c.label :cpf, 'CPF' %></td>
            <td><%= c.text_field :cpf, value: @veiculo.cliente.cpf, class: 'form-control', disabled: true %></td>       
          <% end %>
          
        <% end %>
      </tr>

      <tr>
        <td><%= f.label :montadora %></td>
        <td><%= f.text_field :montadora, class: 'form-control' %></td>
    
        <td><%= f.label :modelo %></td>
        <td><%= f.text_field :modelo, class: 'form-control' %></td>
      </tr>
    
      <tr>
        <td><%= f.label :versao %></td>
        <td><%= f.text_field :versao, class: 'form-control' %></td>
      
        <td><%= f.label :chassi %></td>
        <td><%= f.text_field :chassi, class: 'form-control' %></td>
      </tr>

      <tr>
        <td><%= f.label :placa %></td>
        <td><%= f.text_field :placa, class: 'form-control' %></td>
      
        <td><%= f.label :combustível %></td>
        <td><%= f.text_field :combustivel, class: 'form-control' %></td>
      </tr>

      <tr>
        <td><%= f.label :quilometragem %></td>
        <td><%= f.text_field :quilometragem, class: 'form-control' %></td>

        <td><%= f.label :cor %></td>
        <td><%= f.text_field :cor, class: 'form-control' %>
      </tr>

      <tr>
        <td><%= f.label :ano_fabricacao %></td>
        <td><%= f.text_field :ano_fabricacao, class: 'form-control' %>

        <td><%= f.label :ano_modelo %></td>
        <td><%= f.text_field :ano_modelo, class: 'form-control' %></td>
      </tr>      

    </table>

    <hr>  

  <% end %>

  </center>

</div>