<span class="top">
  <h1> Funcionários </h1>
  <%= link_to 'Criar', funcionarios_path, { onclick: "create('#{funcionarios_path}');", class: 'btn btn-success' } %>
  <%= link_to "Atualizar", funcionario_path(@funcionario), { onclick: 'update();', class: 'btn btn-primary' }%>
  <%= link_to 'Excluir', funcionario_path(@funcionario), 
      method: :delete,       
      class: 'btn btn-danger', 
      data: { confirm: 'Você deseja realmente excluir?' } %>
</span>

<%= render partial: 'funcionarios', object: @funcionarios, class: 'lista-direita' %>


<div class='center'>

  <hr>

  <center>
  <%= form_for @funcionario, url: funcionario_path(@funcionario) , method: :patch, html: { id: 'form' } do |f| %>

    <table>
    
      <tr>
        <td><%= f.label :nome_completo %></td>
        <td><%= f.text_field :nome_completo, class: 'form-control' %></td>
    
        <td><%= f.label :nome_fantasia %></td>
        <td><%= f.text_field :nome_fantasia, class: 'form-control' %></td>
      </tr>
    
      <tr>
        <td><%= f.label :cpf, "CPF" %></td>
        <td><%= f.text_field :cpf, class: 'form-control' %></td>
      
        <td><%= f.label :cnpj, "CNPJ" %></td>
        <td><%= f.text_field :cnpj, class: 'form-control' %></td>
      </tr>

      <tr>
        <td><%= f.label :rg, "RG" %></td>
        <td><%= f.text_field :rg, class: 'form-control' %></td>
      
        <td><%= f.label :inscricao_estadual %></td>
        <td><%= f.text_field :inscricao_estadual, class: 'form-control' %></td>
      </tr>

      <tr>
        <td><%= f.label :data_nascimento %></td>
        <td><%= f.text_field :data_nascimento, class: 'form-control' %></td>

        <td><%= f.label :inscricao_municipal %></td>
        <td><%= f.text_field :inscricao_municipal, class: 'form-control' %></td>
      </tr>

      <tr>
        <td><%= f.label :cargo %></td>
        <td><%= f.collection_select :cargo_id, Cargo.all, :id, :nome, {} , class: 'form-control' %></td>
      </tr>

    </table>

    <hr>  

  <% end %>

  </center>

</div>