
<table class='table table-stripped table-bordered table-hover'>

  <thead class='thead-dark'>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Montadora</th>
      <th>Placa</th>
      <th>Chassi</th>
    </tr>
  </thead>
  <tbody>
  <% veiculos.each do |veiculo| %>
    <tr>
      <td><%= veiculo.cliente.nome_completo %></td>
      <td><%= veiculo.cliente.cpf %></td>
      <td><%= veiculo.montadora %></td>
      <td><%= veiculo.placa %></td>
      <td><%= veiculo.chassi %></td>
    </tr>
  <% end %>
  </body>
  
</table>
