<!DOCTYPE html>
<html>
  <head>
    <title>AutoMAB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body class="<%= controller.controller_name %>">    

    
      <div class="sidenav">
        <h1 class='automab'>AutoMAB</h1>
        <%= link_to 'Home', home_path, onclick: 'location.reload();', class: is_active?(home_path) %>
        <a href="">Agendamento</a>
        <a href="">Orçamento</a>
        <a href="">Ordem de Serviço</a>        
        <a href="">Clientes</a>
        <a href="">Funcionários</a>
        <%= link_to 'Cargos', cargos_path, class: is_active?(cargos_path) %> 
        <%= link_to 'Categorias de Items', categoria_items_path, class: is_active?(categoria_items_path) %>
        <a href="">Itens</a>          
        <%= link_to 'Veículos', veiculos_path, class: is_active?(veiculos_path) %> 
      </div>
    
    <div id="main">      
      <%== show_sweet if flash? %>
      <%= yield %>
    </div>
    
  </body>
  
</html>
