<!DOCTYPE html>
<html>
  <head>
    <title>AutoMAB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body class="<%= controller.controller_name %>">    

    <% cache do %>
      <div class="sidenav">
        <h1 class='automab'>AutoMAB</h1>
        <%= link_to 'Home', home_path, onclick: 'location.reload();', class: is_active?(home_path) %>
        <%= link_to 'Agendamentos', agendamentos_path, class: is_active?(agendamentos_path) %>
        <%= link_to 'Orçamentos', orcamentos_path, class: is_active?(orcamentos_path) %>
        <%= link_to 'Ordens de Serviços', ordem_servicos_path, class: is_active?(ordem_servicos_path) %>
        <%= link_to 'Clientes', clientes_path, class: is_active?(clientes_path) %>
        <%= link_to 'Funcionários', funcionarios_path, class: is_active?(funcionarios_path) %> 
        <%= link_to 'Cargos', cargos_path, class: is_active?(cargos_path) %> 
        <%= link_to 'Categorias de Items', categoria_items_path, class: is_active?(categoria_items_path) %>
        <%= link_to 'Items', items_path, class: is_active?(items_path) %>         
        <%= link_to 'Veículos', veiculos_path, class: is_active?(veiculos_path) %> 
      </div>
    <% end %>
    
    <div id="main">      
      <%== show_sweet if flash? %>
      <%= yield %>
    </div>
    
  </body>
  
</html>
