<!DOCTYPE html>
<html>
  <head>
    <title>AutoMAB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body class="<%= controller.controller_name %>">    

    <% cache do %>
      <div class="sidenav">
        <h1 class='automab'>AutoMAB</h1>
        <%= link_to 'Home', home_path, onclick: 'location.reload();' %>
        <a href="">Agendamento</a>
        <a href="">Orçamento</a>
        <a href="">Ordem de Serviço</a>
        <button class="dropdown-btn">Cadastrar 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="">Clientes</a>
          <a href="">Funcionários</a>
          <a href="">Cargos</a>
          <a href="">Categorias de Item</a>
          <a href="">Itens</a>
          <a href="">Veículos</a>
        </div>
        <button class="dropdown-btn">Consultar 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="">Clientes</a>
          <a href="">Funcionários</a>
          <%= link_to 'Cargos', cargos_path %> 
          <a href="">Categorias de Item</a>
          <a href="">Itens</a>          
          <%= link_to 'Veículos', veiculos_path %> 
        </div>
      </div>
    <% end %>

    <div id="main">      
      <%== show_flash if flash? %>
      <%= yield %>
    </div>
    
  </body>
  
</html>
